<h1>Find the way through the maze!</h1>

<form action="/output5" method="post">

  <h2>You are in a room nr 5.</h2>
  <h3>Available directions:</h3>
  <input type="radio" name="direction" value="E" checked> East<br>
  <input type="radio" name="direction" value="W"> West<br>
  <input type="radio" name="direction" value="S"> South<br>
  <button type="submit" class="btn">Go!</button>
</form>
